## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading in datasets

In [2]:
links_df = pd.read_csv("data/links.csv")
movies_df = pd.read_csv("data/movies.csv")
ratings_df = pd.read_csv("data/ratings.csv")
tags_df = pd.read_csv("data/tags.csv")

# External Datasets
cast_df = pd.read_csv("data/cast.csv")
movie_info_df = pd.read_csv("data/movie_info.csv")

# Cleaning Movies Dataframe

In [3]:
movies_df1 = movies_df.copy()
movies_df1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### Separate genres and encode them

In [4]:
genres_df = movies_df1['genres'].str.get_dummies()
genres_df

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
movies_df1 = pd.concat([movies_df1, genres_df], axis=1)
movies_df1

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### Extracts the year in the title to a new column

In [6]:
movies_df1['year'] = movies_df1.title.str.extract(r"\(([0-9]{4})\)")
movies_df1

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1991

In [7]:
movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             9742 non-null   int64
 1   title               9742 non-null   object
 2   genres              9742 non-null   object
 3   (no genres listed)  9742 non-null   int64
 4   Action              9742 non-null   int64
 5   Adventure           9742 non-null   int64
 6   Animation           9742 non-null   int64
 7   Children            9742 non-null   int64
 8   Comedy              9742 non-null   int64
 9   Crime               9742 non-null   int64
 10  Documentary         9742 non-null   int64
 11  Drama               9742 non-null   int64
 12  Fantasy             9742 non-null   int64
 13  Film-Noir           9742 non-null   int64
 14  Horror              9742 non-null   int64
 15  IMAX                9742 non-null   int64
 16  Musical             9742 non-null   int64
 17  Mystery             9742 non-null   int64
 18  Romance             9742 non-null   int64
 19  Sci-Fi              9742 non-null   int64
 20  Thriller            9742 non-null   int64
 21  War                 9742 non-null   int64
 22  Western             9742 non-null   int64
 23  year                9729 non-null   object
dtypes: int64(21), object(3)
memory usage: 1.8+ MB

In [8]:
movies_df1[movies_df1['year'].isna()]

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
6059,40697,Babylon 5,Sci-Fi,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,NaN
9031,140956,Ready Player One,Action|Sci-Fi|Thriller,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,NaN
9091,143410,Hyena Road,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9138,147250,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9179,149334,Nocturnal Animals,Drama|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN
9259,156605,Paterson,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9367,162414,Moonlight,Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9448,167570,The OA,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9514,171495,Cosmos,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9515,171631,Maria Bamford: Old Baby,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9518,171749,Death Note: Desu nÃ´to (2006â€“2007),(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9525,171891,Generation Iron 2,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9611,176601,Black Mirror,(no genres listed),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [9]:
movies_df1 = movies_df1.dropna()
movies_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9729 entries, 0 to 9741
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             9729 non-null   int64
 1   title               9729 non-null   object
 2   genres              9729 non-null   object
 3   (no genres listed)  9729 non-null   int64
 4   Action              9729 non-null   int64
 5   Adventure           9729 non-null   int64
 6   Animation           9729 non-null   int64
 7   Children            9729 non-null   int64
 8   Comedy              9729 non-null   int64
 9   Crime               9729 non-null   int64
 10  Documentary         9729 non-null   int64
 11  Drama               9729 non-null   int64
 12  Fantasy             9729 non-null   int64
 13  Film-Noir           9729 non-null   int64
 14  Horror              9729 non-null   int64
 15  IMAX                9729 non-null   int64
 16  Musical             9729 non-null   int64
 17  Mystery             9729 non-null   int64
 18  Romance             9729 non-null   int64
 19  Sci-Fi              9729 non-null   int64
 20  Thriller            9729 non-null   int64
 21  War                 9729 non-null   int64
 22  Western             9729 non-null   int64
 23  year                9729 non-null   object
dtypes: int64(21), object(3)
memory usage: 1.9+ MB

In [10]:
movies_df1 = movies_df1.astype({'year': 'int64'})
movies_df1.dtypes

movieId                int64
title                 object
genres                object
(no genres listed)     int64
Action                 int64
Adventure              int64
Animation              int64
Children               int64
Comedy                 int64
Crime                  int64
Documentary            int64
Drama                  int64
Fantasy                int64
Film-Noir              int64
Horror                 int64
IMAX                   int64
Musical                int64
Mystery                int64
Romance                int64
Sci-Fi                 int64
Thriller               int64
War                    int64
Western                int64
year                   int64
dtype: object

In [11]:
movies_df1

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1991

### Removes year in the title

In [12]:
movies_df1['title'] = movies_df1['title'].str[:-7]
movies_df1

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1995
1,2,Jumanji,Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995
2,3,Grumpier Old Men,Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
4,5,Father of the Bride Part II,Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9739,193585,Flint,Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1991

### Reorder and rename column names

In [13]:
movies_df1.rename(columns={'(no genres listed)': 'No Genre'}, inplace=True)
movies_df1

,movieId,title,genres,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1995
1,2,Jumanji,Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1995
2,3,Grumpier Old Men,Comedy|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1995
4,5,Father of the Bride Part II,Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2017
9739,193585,Flint,Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1991

In [14]:
movies_df1.columns

Index(['movieId', 'title', 'genres', 'No Genre', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'year'],
      dtype='object')

In [15]:
cols = ['movieId', 'title', 'year', 'No Genre', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies_df1 = movies_df1[cols]
movies_df1

,movieId,title,year,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,2017,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero,2017,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple,2018,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
cleaned_movies_df = movies_df1
cleaned_movies_df

,movieId,title,year,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,2017,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero,2017,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple,2018,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

### Combines 'The' with the title

In [17]:
# movies_df2 = movies_df1.copy()
# movies_df2['title'].iloc[28]

In [18]:
# print(movies_df2['title'].iloc[28].split(','))
# len(movies_df2['title'].iloc[28].split(','))

### Removes alternative names in the title

In [19]:
# movie_title = movies_df1['title'].str.split('(')
# print(movie_title.head(30))
# movie_title[29][0].rstrip()
# movies_df1['title'] = movie_title.apply(lambda x: ','.join(map(str, x)))
# movies_df1

In [20]:
# movies_df1['title'].iloc[29]

## Cleaning Movie Info Dataset

In [21]:
movie_info_df1 = movie_info_df[['budget', 'runtime', 'tmdbId']]
movie_info_df1

        budget  runtime    tmdbId
0     30000000       81     862.0
1     65000000      104    8844.0
2            0      101   15602.0
3     16000000      127   31357.0
4            0      106   11862.0
...        ...      ...       ...
9626         0      100  432131.0
9627         0      106  445030.0
9628         0       96  479308.0
9629         0       90  483455.0
9630         0       85   37891.0

[9631 rows x 3 columns]

In [22]:
movie_info_df1.describe()

             budget      runtime         tmdbId
count  9.631000e+03  9631.000000    9631.000000
mean   1.804333e+07   104.391652   53953.085557
std    3.579062e+07    26.009393   92255.648277
min    0.000000e+00     0.000000       2.000000
25%    0.000000e+00    92.000000    9624.000000
50%    1.500000e+06   102.000000   16340.000000
75%    2.000000e+07   115.000000   43487.500000
max    9.653130e+08   900.000000  525662.000000

### Remove movies with 0 budget

In [23]:
movie_info_df1[movie_info_df1['budget'] < 5000000]

      budget  runtime    tmdbId
2          0      101   15602.0
4          0      106   11862.0
7          0       97   45325.0
11         0       88   12110.0
12         0       78   21032.0
...      ...      ...       ...
9626       0      100  432131.0
9627       0      106  445030.0
9628       0       96  479308.0
9629       0       90  483455.0
9630       0       85   37891.0

[5423 rows x 3 columns]

# Merging Datasets

In [24]:

movies_links_df = cleaned_movies_df.merge(links_df)
movie_data = movies_links_df.merge(movie_info_df1)
movie_data

,movieId,title,year,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,imdbId,tmdbId,budget,runtime
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,114709,862.0,30000000,81
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,113497,8844.0,65000000,104
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,0,1,0,0,0,0,113228,15602.0,0,101
3,4,Waiting to Exhale,1995,0,0,0,0,0,1,0,...,0,1,0,0,0,0,114885,31357.0,16000000,127
4,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,113041,11862.0,0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9620,193581,Black Butler: Book of the Atlantic,2017,0,1,0,1,0,1,0,...,0,0,0,0,0,0,5476944,432131.0,0,100
9621,193583,No Game No Life: Zero,2017,0,0,0,1,0,1,0,...,0,0,0,0,0,0,5914996,445030.0,0,106
9622,193585,Flint,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6397426,479308.0,0,96
9623,193587,Bungo Stray Dogs: Dead Apple,2018,0,1,0,1,0,0,0,...,0,0,0,0,0,0,8391976,483455.0,0,90
9624,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,0,0,0,101726,37891.0,0,85

### Calculate The Average Rating of Each Movie

In [25]:
ratings_df1 = ratings_df[['movieId', 'rating']]
avg_ratings_df = ratings_df1.groupby(by='movieId').mean()
avg_ratings_df

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [26]:
movie_data = movie_data.merge(avg_ratings_df, on='movieId')
movie_data

,movieId,title,year,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,imdbId,tmdbId,budget,runtime,rating
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,0,0,114709,862.0,30000000,81,3.920930
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,113497,8844.0,65000000,104,3.431818
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,1,0,0,0,0,113228,15602.0,0,101,3.259615
3,4,Waiting to Exhale,1995,0,0,0,0,0,1,0,...,1,0,0,0,0,114885,31357.0,16000000,127,2.357143
4,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,113041,11862.0,0,106,3.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9602,193581,Black Butler: Book of the Atlantic,2017,0,1,0,1,0,1,0,...,0,0,0,0,0,5476944,432131.0,0,100,4.000000
9603,193583,No Game No Life: Zero,2017,0,0,0,1,0,1,0,...,0,0,0,0,0,5914996,445030.0,0,106,3.500000
9604,193585,Flint,2017,0,0,0,0,0,0,0,...,0,0,0,0,0,6397426,479308.0,0,96,3.500000
9605,193587,Bungo Stray Dogs: Dead Apple,2018,0,1,0,1,0,0,0,...,0,0,0,0,0,8391976,483455.0,0,90,3.500000
9606,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,0,0,101726,37891.0,0,85,4.000000

In [27]:
cast_data = cast_df[['gender', 'name', 'movieId']]
cast_data

        gender            name   movieId
0          2.0       Tom Hanks       1.0
1          2.0       Tim Allen       1.0
2          2.0     Don Rickles       1.0
3          2.0      Jim Varney       1.0
4          2.0   Wallace Shawn       1.0
...        ...             ...       ...
266363     0.0     Alex Thaler  193609.0
266364     1.0    Sharon Bialy  193609.0
266365     1.0  Debi Manwiller  193609.0
266366     1.0  Mary Margiotta  193609.0
266367     2.0  Richard Pagano  193609.0

[266368 rows x 3 columns]

In [28]:
data = movie_data.merge(cast_data, on='movieId')
data

,movieId,title,year,No Genre,Action,Adventure,Animation,Children,Comedy,Crime,...,Thriller,War,Western,imdbId,tmdbId,budget,runtime,rating,gender,name
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,114709,862.0,30000000,81,3.92093,2.0,Tom Hanks
1,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,114709,862.0,30000000,81,3.92093,2.0,Tim Allen
2,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,114709,862.0,30000000,81,3.92093,2.0,Don Rickles
3,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,114709,862.0,30000000,81,3.92093,2.0,Jim Varney
4,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,114709,862.0,30000000,81,3.92093,2.0,Wallace Shawn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265718,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,101726,37891.0,0,85,4.00000,0.0,Alex Thaler
265719,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,101726,37891.0,0,85,4.00000,1.0,Sharon Bialy
265720,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,101726,37891.0,0,85,4.00000,1.0,Debi Manwiller
265721,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,101726,37891.0,0,85,4.00000,1.0,Mary Margiotta
265722,193609,Andrew Dice Clay: Dice Rules,1991,0,0,0,0,0,1,0,...,0,0,0,101726,37891.0,0,85,4.00000,2.0,Richard Pagano

In [29]:
data.columns

Index(['movieId', 'title', 'year', 'No Genre', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'imdbId', 'tmdbId',
       'budget', 'runtime', 'rating', 'gender', 'name'],
      dtype='object')

In [30]:
cols = ['movieId', 'gender', 'name', 'title', 'year', 'budget', 'runtime', 'No Genre', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'rating']
data = data[cols]
data

,movieId,gender,name,title,year,budget,runtime,No Genre,Action,Adventure,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rating
0,1,2.0,Tom Hanks,Toy Story,1995,30000000,81,0,0,1,...,0,0,0,0,0,0,0,0,0,3.92093
1,1,2.0,Tim Allen,Toy Story,1995,30000000,81,0,0,1,...,0,0,0,0,0,0,0,0,0,3.92093
2,1,2.0,Don Rickles,Toy Story,1995,30000000,81,0,0,1,...,0,0,0,0,0,0,0,0,0,3.92093
3,1,2.0,Jim Varney,Toy Story,1995,30000000,81,0,0,1,...,0,0,0,0,0,0,0,0,0,3.92093
4,1,2.0,Wallace Shawn,Toy Story,1995,30000000,81,0,0,1,...,0,0,0,0,0,0,0,0,0,3.92093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265718,193609,0.0,Alex Thaler,Andrew Dice Clay: Dice Rules,1991,0,85,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00000
265719,193609,1.0,Sharon Bialy,Andrew Dice Clay: Dice Rules,1991,0,85,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00000
265720,193609,1.0,Debi Manwiller,Andrew Dice Clay: Dice Rules,1991,0,85,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00000
265721,193609,1.0,Mary Margiotta,Andrew Dice Clay: Dice Rules,1991,0,85,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00000
265722,193609,2.0,Richard Pagano,Andrew Dice Clay: Dice Rules,1991,0,85,0,0,0,...,0,0,0,0,0,0,0,0,0,4.00000

# Write to CSV file

In [31]:
data.to_csv('data/cleaned_data.csv')